<h1>Requests#index</h1>
<p>Find me in app/views/railitics/requests/index.html.erb</p>
<% @requests.each do |request| %>
  <p>
    <%= request.method %>
    <%= request.controller %>
    <%= request.action %>
    <%= request.user_id || request.uuid %>
    <%= request.referrer %>
  </p>
<% end %>
